.up-head {
    background-color: #87d83d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.fontu {
    font-size: 20px;
}

.material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
    font-size: 20px;
}

.fonta {
    background-color: #87d83d;
    border-style: hidden hidden hidden groove;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    background-color: whitesmoke;
}

.logo {
    margin-left: 10%;
}

.logo span {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    margin-bottom: 5%;
}

.bold {
    font-style: bold;
    text-shadow: 3px 2px gray;
}

.green {
    color: #87d83d;
    text-shadow: 3px 2px gray;
}

.middle-link {
    padding-left: 20%;
    padding-top: 5%;
}

.middle-btn {
    margin-left: 20px;
    border: none;
    background-color: whitesmoke;
}

.ex {
    border: 2px solid #87d83d;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navber {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: black;
    height: 60px;

}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0 15px;
    font-weight: 500;
}

.nav-link:hover {
    background-color: #87d83d;
    cursor: pointer;
}

.nav-search {
    align-items: center;
    display: flex;
}

.search-bar {
    margin-left: 10%;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search-btn {
    background-color: #87d83d;
    margin-left: 1%;
    height: 34px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.carousel {
    background-image: url(img/cover\ image.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 328px;
}

.carousel-heading,
.carousel-txt {
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 15px;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.start-btn {
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 15px;
    background-color: #184053;
    color: white;
    border: 2px solid #87d83d;
}

.domain-heading {
    text-align: center;
    font-size: 30px;
}

.input-div {
    display: flex;
    justify-content: center;
}

.domain-search {
    width: 300px;
    height: 30px;
    font-size: 14px;
}

select {
    font-size: 16px;
    font-weight: 500;
}

.domain-btn {
    background-color: #87d83d;
    font-weight: 600;
}

.domain-price {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 3%;
    background-color: #F5F5F5;
    padding: 1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.domain-item {
    text-align: center;
}

.domain-name {
    font-size: 24px;
}

.price {
    font-size: 12px;
}

.list-div {
    display: flex;
    justify-content: center;
}

.list-btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #87d83d;
}

.cart-container {
    background-color: #F5F5F5;
}

.cart-heading {
    text-align: center;
    padding-top: 50px;
}

.cart-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 80px;
}

.cart {
    text-align: center;
    margin-bottom: 100px;
}

.cart-heading-container {
    background-color: #90C851;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
}

.cart-heading-container h3 {
    font-size: 26px;
}

.cart-heading-container p {
    margin: 0;
    padding-bottom: 10px;
}

.cart-content {
    background-color: white;
}

.cart-txt {
    margin: 0;
    padding: 10px;
}

.hosting-price-div {
    background-color: #F5F5F5;
}

.hosting-price {
    font-size: 40px;
    color: #5e9b18;
    font-weight: 600;
}

sup {
    font-size: 30px;
    font-weight: 600;
}

.continue-div {
    background-color: white;
}

.continue {
    border: 2px solid #87d83d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px;
    width: 150px;
    height: 40px;
}

.continue:hover {
    background-color: #87d83d;
    color: white;
    cursor: pointer;
}

.sc {
    background-color: #4E95EE;
    color: white;
}

.bsc {
    color: #4E95EE;
    font-size: 40px;
}

.bss {
    background-color: #2F363B;
    color: white;
}

.bs {
    color: rgb(233, 148, 91);
    font-size: 40px;
}

.service-heading {
    text-align: center;
    font-family: sans-serif;
}

.service-cart-conntainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.service-cart {
    display: grid;
    justify-items: center;
    padding: 20px;
    background-color: #F5F5F5;
    font-family: sans-serif;
}

.service-icon {
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.cart-btn {
    background-color: #F5F5F5;
}

.contact-div {
    background-image: url(img/bg-footer.png);
    filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: auto;
}

.cl {
    font-family: sans-serif;
    color: rgb(198, 192, 180);
}

.plan-btn {
    border: 2px solid #87d83d;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 20px;
    width: 250px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
}

.green {
    color: #94c55b;
    font-size: 20px;
    text-decoration: none;
}

.plan-btn:hover {
    background-color: #87d83d;
    color: white;
    cursor: pointer;
}

.client-count {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    background-color: #F5F5F5;
    padding: 20px;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 5px;
}

.count-div {
    font-family: sans-serif;
}

.count {
    font-size: 30px;
}

.footer {
    background-color: #333333;
}

.uparrow {
    display: flex;
    justify-content: end;
}

.uparrow a {
    text-decoration: none;
    color: oldlace;
    font-size: 20px;
    margin-top: 20px;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: #3F3F3F;
    border: 200px;
}

.footer-link {
    display: grid;
    justify-items: center;
}

.footer-link li {
    list-style: none;
}

.footer-link>li>a,
h3 {
    text-decoration: none;
    color: #F5F5F5;
}